<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
       <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <!-- Ajout du CSS -->
            {{ encore_entry_link_tags(’app’) }}
        {% endblock %}
    </head>
        <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
       		<!-- Ajout du JS -->
            {# {{ encore_entry_script_tags(’app’) }} #}
        {% endblock %}
        </body>
</html>
